<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        /* body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }

        h1 {
            color: #333;
        }

        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            margin: 0 10px;
            text-decoration: none;
            color: #fff;
            background-color: #3498db;
            border-radius: 5px;
            cursor: pointer;
        }

        .button.admin {
            background-color: #e74c3c;
        }

        .button.author {
            background-color: #27ae60;
        }

        .button.user {
            background-color: #f39c12;
        } */
    </style>
</head>
<body id="body">
    <h1 class="welcome_container">Welcome to NodeBlogs</h1>
    <div class="button-container">
        <a href="/app/v1/admin/signup" class="button admin">Admin</a>
        <a href="/app/v1/author/signup" class="button author">Author</a>
        <a href="/app/v1/user/signup" class="button user">User</a>
    </div>
</body>
</html>
